[submodule "MonoGame"]
	path = MonoGame
	url = git://github.com/olerud/MonoGame.git
	branch = develop

[submodule "tools/ouya"]

	path = tools/ouya

	url = https://github.com/slygamer/ouya-csharp.git

